In [1]:
import pandas as pd
import numpy as np

data = np.random.rand(10, 4)
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])

df.iloc[2, 0] = np.nan
df.iloc[4, 2] = np.nan
df.iloc[7, 3] = np.nan

def highlight_nan(val):
    color = 'red' if pd.isna(val) else 'black'
    return 'color: {}'.format(color)

styled_df = df.style.applymap(highlight_nan)

styled_df

In [2]:
import pandas as pd
import numpy as np

data = np.random.rand(10, 4)
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])

def black_background_yellow_font(val):
    return 'background-color: black; color: yellow'

styled_df = df.style.applymap(black_background_yellow_font)

styled_df.hide_index().set_properties(**{'border': 'none'})

<ipython-input-2-6efe36a3ce97>:12: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  styled_df.hide_index().set_properties(**{'border': 'none'})

In [3]:
import pandas as pd
import numpy as np

data = {'A': [1, 2, np.nan, 4],
        'B': [5, np.nan, np.nan, 8],
        'C': [np.nan, 10, 11, 12]}
df = pd.DataFrame(data)

missing_values = df.isna()

print(missing_values)

       A      B      C
0  False  False   True
1  False   True  False
2   True   True  False
3  False  False  False

In [4]:
import pandas as pd
import numpy as np

data = {'A': [1, np.nan, 3, 4],
        'B': [5, np.nan, np.nan, 8],
        'C': [np.nan, 10, 11, np.nan]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

df_dropped_rows = df.dropna(axis=0, how='all')

df_dropped_cols = df.dropna(axis=1, how='all')

df_filled = df.fillna(0)

df_interpolated = df.interpolate()

print("\nDataFrame after dropping rows with all NaN values:")
print(df_dropped_rows)
print("\nDataFrame after dropping columns with all NaN values:")
print(df_dropped_cols)
print("\nDataFrame after filling missing values with 0:")
print(df_filled)
print("\nDataFrame after interpolating missing values:")
print(df_interpolated)

Original DataFrame:
     A    B     C
0  1.0  5.0   NaN
1  NaN  NaN  10.0
2  3.0  NaN  11.0
3  4.0  8.0   NaN

DataFrame after dropping rows with all NaN values:
     A    B     C
0  1.0  5.0   NaN
1  NaN  NaN  10.0
2  3.0  NaN  11.0
3  4.0  8.0   NaN

DataFrame after dropping columns with all NaN values:
     A    B     C
0  1.0  5.0   NaN
1  NaN  NaN  10.0
2  3.0  NaN  11.0
3  4.0  8.0   NaN

DataFrame after filling missing values with 0:
     A    B     C
0  1.0  5.0   0.0
1  0.0  0.0  10.0
2  3.0  0.0  11.0
3  4.0  8.0   0.0

DataFrame after interpolating missing values:
     A    B     C
0  1.0  5.0   NaN
1  2.0  6.0  10.0
2  3.0  7.0  11.0
3  4.0  8.0  11.0

In [5]:
import pandas as pd
import numpy as np

data = {'A': [1, np.nan, np.nan, 4],
        'B': [5, np.nan, np.nan, 8],
        'C': [np.nan, 10, 11, np.nan]}
df = pd.DataFrame(data)

df_at_least_2_nan = df.dropna(thresh=2)

print(df_at_least_2_nan)

     A    B   C
0  1.0  5.0 NaN
3  4.0  8.0 NaN

In [7]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Henry'],
        'Age': [25, 30, 35, 40, 45, 50, 55, 60],
        'School_Code': ['S001', 'S002', 'S001', 'S003', 'S002', 'S001', 'S003', 'S002']}
df = pd.DataFrame(data)

grouped = df.groupby('School_Code')

print("Type of GroupBy object:", type(grouped))

Type of GroupBy object: <class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [8]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Henry'],
        'Age': [25, 30, 35, 40, 45, 50, 55, 60],
        'School_Code': ['S001', 'S002', 'S001', 'S003', 'S002', 'S001', 'S003', 'S002']}
df = pd.DataFrame(data)

school_stats = df.groupby('School_Code')['Age'].agg(['mean', 'min', 'max'])

print("Mean, Min, and Max Age for each School:")
print(school_stats)

Mean, Min, and Max Age for each School:
                  mean  min  max
School_Code
S001         36.666667   25   50
S002         45.000000   30   60
S003         47.500000   40   55

In [9]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Henry'],
        'Age': [25, 30, 35, 40, 45, 50, 55, 60],
        'School_Code': ['S001', 'S002', 'S001', 'S003', 'S002', 'S001', 'S003', 'S002'],
        'Class': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'B']}
df = pd.DataFrame(data)

grouped = df.groupby(['School_Code', 'Class'])

for group_name, group_df in grouped:
    print("Group:", group_name)
    print(group_df)
    print()

Group: ('S001', 'A')
      Name  Age School_Code Class
0    Alice   25        S001     A
2  Charlie   35        S001     A
5    Frank   50        S001     A

Group: ('S002', 'B')
    Name  Age School_Code Class
1    Bob   30        S002     B
4   Emma   45        S002     B
7  Henry   60        S002     B

Group: ('S003', 'C')
    Name  Age School_Code Class
3  David   40        S003     C
6  Grace   55        S003     C

In [10]:
import pandas as pd

url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv"
drinks_df = pd.read_csv(url)

print("Dimensions of the dataset:", drinks_df.shape)

column_names = drinks_df.columns
print("\nColumn names:")
for column in column_names:
    print(column)

Dimensions of the dataset: (193, 5)

Column names:
country
beer_servings
spirit_servings
wine_servings
total_litres_of_pure_alcohol

In [11]:
import pandas as pd

data = {'Column': ['apple', 'banana', 'orange', 'grape', 'kiwi']}
df = pd.DataFrame(data)

substring = 'an'

index_with_substring = df[df['Column'].str.contains(substring)].index

print("Index of rows containing the substring:", index_with_substring)

Index of rows containing the substring: Int64Index([1, 2], dtype='int64')